@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 163 47% 97%;
    --foreground: 163 100% 6%;

    --muted: 163 47% 97%;
    --muted-foreground: 159 7.6% 53.4%;

    --popover: 159 49.8% 4.42%;
    --popover-foreground: 159 7.6% 96.7%;

    --card: 163 47% 97%;
    --card-foreground: 163 100% 6%;

    --border: 220 13% 91%;
    --input: 159 38% 90%;

    --primary: 159 37% 34%;
    --primary-foreground: 159 7.6% 96.7%;

    --secondary: 159 37% 10%;
    --secondary-foreground: 159 7.6% 96.7%;

    --accent: 205 99% 56%;
    --accent-foreground: 159 7.6% 96.7%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 159 7.6% 96.7%;

    --ring: 159 76% 34%;

    --radius: 0.7rem;
  }

  .dark {
    --background: 159 49.4% 2.72%;
    --foreground: 159 7.6% 96.7%;

    --muted: 159 38% 10.200000000000001%;
    --muted-foreground: 159 7.6% 53.4%;

    --popover: 159 49.8% 4.42%;
    --popover-foreground: 159 7.6% 96.7%;

    --card: 159 49.8% 5.42%;
    --card-foreground: 159 7.6% 96.7%;

    --border: 220 13% 25%;
    --input: 159 38% 8.200000000000001%;

    --primary: 159 76% 34%;
    --primary-foreground: 159 7.6% 96.7%;

    --secondary: 159 38% 10.200000000000001%;
    --secondary-foreground: 159 7.6% 96.7%;

    --accent: 205 99% 56%;
    --accent-foreground: 159 7.6% 96.7%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 159 7.6% 96.7%;

    --ring: 159 76% 34%;

    --radius: 0.7rem;
  }
}

@layer base {

  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }

  html {
    font-family: "Montserrat";
  }

}


@layer utilities {
  .underline-wavy-hotpink {
    position: relative;
  }
  .underline-wavy-hotpink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    @apply bg-dark-accent;
    transition: width 0.3s ease;
  }
  .underline-wavy-hotpink:hover::after {
    width: 100%;
  }
  .curve-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
    background: hsl(222.2 84% 4.9%);
  }
  .curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: hsl(216, 21%, 16%);
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: hsl(222.2 84% 4.9%);
    transform: translate(-4%, 40%);
    z-index: -1;
}

.shadow-button {
  transition: transform ease 0.2s, box-shadow ease 0.2s;}


}

.shadow-button:hover {
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px black;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

